@model MvcTrello.task

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>task</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idTask)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idTask)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.startTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.endTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.comment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.label)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.label)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.list.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.list.title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.user.username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.user.username)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
