@model Trollo.Models.list

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>list</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idList)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idList)
            @Html.ValidationMessageFor(model => model.idList)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ownerBoard, "board")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ownerBoard", String.Empty)
            @Html.ValidationMessageFor(model => model.ownerBoard)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
