@model Trollo.user

@{
    ViewBag.Title = "AfterLogin";
    @Styles.Render("~/Content/bootstrapcss")
    @Scripts.Render("~/bundles/modernizr")
    var br= TempData["borad"];
}

<h2>Dobro došli, @Model.username</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
    <navbar>


        <ul class="nav pull-right">
   <img src="@Url.Content(Model.picture)"  width="75 px" height="75 px" alt="">
             <div class="btn-group dropup">
 

  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Logut</span>
  </button>
  <ul class="dropdown-menu">
   <li><a href="../Board/Index">Boards</a></li>
  </ul>
</div>

       </ul>

   

</navbar>

        <table>
            <tr>

                <td >
                    <div class="container" style="width: 200px">  
        <div class="row">  
        <div class="span2">  
        <ul class="nav nav-pills nav-stacked">  

             <li class="active"><a href="#">Home</a></li>
            <li><a href="../Board/Index">Boards <span class="badge">@br</span></a></li>
            <li><a href="../List/Index">Lists</a></li>
            <li><a href="../Task/Index">Tasks</a></li>
        </ul>
            </div>
            </div>
            </div>
                </td>
            

            
                <td style="width: 400px">
                     <div class="display-label">
         @Html.DisplayNameFor(model => model.idUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idUser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.creationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creationDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

                </td>
        </tr>


        </table>
    
    </fieldset>
}


@using (Html.BeginForm("GetDocument", "User", FormMethod.Post, new { enctype = "multipart/form-data", id = Model.idUser }))
{
    <input type="file" name="file" />
    <input type="hidden" name="id" value="@Model.idUser" />
    <input type="submit" value="OK" />
  
}
<p>
    @Html.ActionLink("Edit", "../User/Edit", new { id=Model.idUser }) |
  
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   @Scripts.Render("~/bundles/jquery")
    
        @Scripts.Render("~/bundles/bootstrapjs")
}
