@model Trollo.user
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrapcss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    <div class="container">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">

                <div class="btn-group">
                <div class="dropdown">
                        <button class="btn btn-lg dropdown-toggle navbar-btn" type="button" id="dropdownMenu1" data-toggle="dropdown">
                              @Trollo.Resources.Lang
                          <span class="caret"></span>
                        </button>
                   <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                     <li role="presentation"><a role="menuitem" tabindex="-1">@Html.ActionLink("ENG", "SetCulture", new { controller = "Home", culture = "en" })  </a></li>
                     <li role="presentation"><a role="menuitem" tabindex="-1">@Html.ActionLink("BS", "SetCulture", new { controller = "Home", culture = "bs" })</a></li>
   
                     </ul>
                    </div>


        </div>
                <!--Register button-->
                 

                 
                     @Html.ActionLink("Register", "../User/Registration", null, new { @class = "btn btn-success btn-lg navbar-btn"  })
                     <!-- <button type="button" class="btn btn-success navbar-btn">Register</button> -->
                    
                

                <!--Log in button-->
                 <button class="btn btn-primary btn-lg navbar-btn" data-toggle="modal" data-target="#myModal">
                     Log in
                </button>

                </div>
            </div>
        </div>
    </div>



    <table>
        <tr>
            <th>
                <hr>
            </th>
            <th></th>
        </tr>
        <tr>
            <th>
                <hr>
            </th>
            <th></th>
        </tr>
        <tr>
            <td></td>
            <td>
                
    
                


               

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Log in</h4>
                            </div>

                             @using (Html.BeginForm("Login","Home", FormMethod.Post))
            {
                //this  is for create form tag
                @Html.AntiForgeryToken()          // this is for prevent CSRF attack
               @Html.ValidationSummary(true)
                
                                 <div class="modal-body">

                                     <div class="input-group">

                                         @Html.TextBoxFor(model => model.username, new { @class = "form-control", placeholder = "username" })
                                         @Html.ValidationMessageFor(model => model.username)


                                     </div>

                                     <div class="input-group">

                                         @Html.PasswordFor(model => model.password, new { @class = "form-control", placeholder = "password" })
                                         @Html.ValidationMessageFor(model => model.password)
                                     </div>
                                 </div>
                       
                         
                            <div class="modal-footer">
                                
                                <!-- Login forma -->

                                           <input type="submit" value="Log in" class="btn btn-primary" />

                                </div>
                        
            }
                                     
                                 
                            </div>
                        </div>
                    </div>
                </div>


            </td>
            </tr>
        </table>


    <!-- jubmotron -->
      <div class="jumbotron">
  <h1>@Trollo.Resources.Title</h1>
          <h3>@Trollo.Resources.Subtitle</h3>
  
          
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>

    

    @Scripts.Render("~/bundles/jquery")
    
        @Scripts.Render("~/bundles/bootstrapjs")
</body>
</html>
