@model Trollo.user



<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrapcss")
    @Scripts.Render("~/bundles/modernizr")   
</head>
<body>
     <table><tr>
        <td>
            <div class="container-fluid">
                <div class = "row-fluid">
                    <div class = "span3">
                        <div class = "well sidebar-nav">
                            <ul class="list-group"> 
                              <li class="list-group-item">@Html.ActionLink("User", "../User/Create", null, new { })</li>
                              <li class="list-group-item">@Html.ActionLink("Board", "../Board/Create", null, new { })</li>
                              <li class="list-group-item">@Html.ActionLink("List", "../List/Create", null, new { })</li>
                              <li class="list-group-item">@Html.ActionLink("Task", "../Task/Create", null, new { })</li>
                            </ul>
                        </div>
                     </div>
                </div>
            </div>

          </td>
         <td></td>
        
         <td style= "vertical-align: top">
            <ul class="nav nav-tabs">                
                <li>@Html.ActionLink("Create", "../User/Create", null, new { })</li>
                <li>@Html.ActionLink("Manipulation", "../User/Index", null, new { })</li>
            </ul>

         <table><tr>
             <td><BR>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        

        <div class="editor-label">
            @Html.LabelFor(model => model.idUser)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idUser)
            @Html.ValidationMessageFor(model => model.idUser)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.username)
            @Html.ValidationMessageFor(model => model.username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.creationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.creationDate)
            @Html.ValidationMessageFor(model => model.creationDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.registered)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.registered)
            @Html.ValidationMessageFor(model => model.registered)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.picture)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.picture)
            @Html.ValidationMessageFor(model => model.picture)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

                 </td></tr></table>
    
    </td>
    
    </tr>
    </table>
    
    
    
    </body>
    </html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
