
@using Recaptcha.Web.Mvc;


@model Trollo.user
@{
    ViewBag.Title = "Registration";
}

@Styles.Render("~/Content/bootstrap.css")
@Scripts.Render("~/bundles/modernizr")

<div style ="width : 35%; margin : 0 auto; margin-top : 5%">
    <div class="panel panel-default" style =" width : 480px" >
        <div class="panel-heading">
            <h3 class="panel-title">R E G I S T R A C I J A</h3>
        </div>
        
        <div class="panel-body">

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <table> 
                    <tr> 
                        <td>
                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.Message
                                </div>
                            }
                            <BR><BR>
                            <table>
                                <tr>
                                    <td style ="text-align : right">
                                        <BR>
                                        Username:
                                    </td>                            
                                    <td style =" width : 150px">
                                        <BR>
                                        @Html.TextBoxFor(model => model.username)                                
                                        @Html.ValidationMessageFor(model => model.username)
                                    </td>
                                </tr>
                                <tr>
                                    <td style ="text-align : right">
                                        <BR>
                                        Password:
                                    </td>
                                    <td style =" width : 150px">
                                        <BR>
                                        @Html.EditorFor(model => model.password)
                                        @Html.ValidationMessageFor(model => model.password)
                                    </td>
                                </tr>
                                <tr>
                                    <td style ="text-align : right">
                                        <BR>
                                        Email:
                                    </td>
                                    <td style =" width : 150px">
                                        <BR>
                                        @Html.EditorFor(model => model.email)                  
                                        @Html.ValidationMessageFor(model => model.email)
                                    </td>
                                </tr>
                            </table>

                            <BR><BR>

                            <div class="editor-label">
                                @Html.Recaptcha(theme:Recaptcha.Web.RecaptchaTheme.Clean)
                            </div>
                            <div class="hidden">
                                @Html.EditorFor(model => model.picture, new { picture="~/uploads/anonim.jpg" })
                            </div>
                
                            <BR>
                        </td> 
                    </tr> 
                    <tr> 
                        <td style ="text-align : right">
      
                            <div class="panel-group" id="accordion">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                      Uvjeti registracije
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                  <div class="panel-body">
                                    "Most thoughts are memories. And memories deceive. 
                                      The walk. The way he smoked a cigarette. Laughed. 
                                      The dead are dead. He’s gone. 
                                      What’s left to ever say he was here at all? Not much."
                                  </div>
                                </div>
                              </div>
                            </div>                    
                            
                            <input type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Pristajem na uvjete!" value ="Register"/>
                
                        </td>
                    </tr> 
                </table>

            </fieldset>
        }
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")    
@Scripts.Render("~/bundles/bootstrapjs")
        
