<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrapcss")
</head>
<body>

    <div class = "container-fluid">
        <div class = "row-fluid">
            <div class = "span3">

                <div class = "well sidebar-nav">
                    <ul class = "nav nav-list">
                        <li class = "nav-header"> Trollo header </li>
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    </ul>
                </div>

            </div>
            <div class = "span9">
                @RenderSection("featured", required : false)
                <div class  = "row-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
       
        @Styles.Render("~/bundles/jquery")
        @Styles.Render("~/bundles/bootstrapjs")

</body>
</html>